*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {

}

.pizza_Header {
    height: 10%;
    background-color: black;
    
}

.pizza_Img {
    background-image: url(../img/);

}

.logotipo_Principal {
    
}

.palavra_Verde {

}

.palavra_Branca {

}

.palavra_Vermelha {

}

.container {

}

.promocao {

}

.promocao_Texto {

}

.titulo_Cardapio {

}

.cardapio_Img {

}

.logotipo_Footer {

}


